* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    scroll-behavior: smooth;
    background-color: #ffe600;
    text-rendering: optimizeSpeed;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

body {
    font-family: Arial, sans-serif;
}

.me {
    width:200px;
    border-radius:10px;
}

.nerabota {
    width:200px;
}

.neiro {
    display: flex;
    justify-content: center;
}

.main__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding:20px;
}

.video-container {
    width:350px; /* Ширина плеера */
    height:200px; /* Высота плеера */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

iframe {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
}

.small-carousel {
    position: relative;
    width:20%; /* Ширина слайдера */
    max-width: 400px; /* Максимальная ширина */
    margin: 0 auto;
    margin-bottom:20px;
    overflow: hidden;
    border:3px solid #ffffff; /* Для внешнего оформления слайдера */
    border-radius: 10px; /* Скругление краёв */
}

.small-carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.small-slide {
    min-width: 100%; /* Каждое изображение занимает всю ширину слайдера */
    box-sizing: border-box;
}

.small-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.small-prev, .small-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    z-index:1;
}

.small-prev {
    left:10px;
}

.small-next {
    right: 10px;
}

.small-prev:hover, .small-next:hover {
    background-color: rgba(255, 255, 255, 1);
}




.btn__wrapper {
    display: flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
} 

.btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF; /* Цвет кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.2s;
}

.btn a {
    color: inherit;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3; /* Цвет при наведении */
}

.btn:active {
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
}

.btn__preorder {
    background-color: #28a745; /* Специфический цвет для первой кнопки */
}

.btn__preorder:hover {
    background-color: #218838; /* Цвет при наведении для первой кнопки */
}

.btn__learn-more {
    background-color: #17a2b8; /* Специфический цвет для второй кнопки */
}

.btn__learn-more:hover {
    background-color: #138496; /* Цвет при наведении для второй кнопки */
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    position: relative;
    top:10px;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


.buy {
    display: flex;
    justify-content: center;
    padding:40px 0;
}

/* Мобильная версия */
@media (max-width: 600px) {
    .small-slide img {
        width: 100%;
        height: auto; /* Обеспечиваем пропорциональность изображений */
    }
}

/* Таблеты и более широкие экраны */
@media (min-width: 370px) and (max-width: 1200px) {
    .small-carousel {
        width:300px;
        flex-direction: row;
    }
    
    .modal-content {
        width: 80%;
        height: auto; /* Авто высота */
    }
}

/* Десктоп */
@media (min-width: 1201px) {
    .modal-content {
        width: 50%;
        height: auto; 
    }
}